extends layout

block content
  h1= title
  p 
    | Welcome to #{title}, the premier Express playground for bst003 to test how to improve his skills with Express routing.
    | Feel free to check out the various types of content on the site listed below.
  ul 
    li 
      a(href="/shoes") Shoes
    li 
      a(href="/brands") Brands
    li 
      a(href="/styles") Styles
