doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src="https://kit.fontawesome.com/5899fa846f.js" crossorigin="anonymous")
  body
    include parts/header.pug
    main(class="site-content") 
      div(class="site-content__inner")
        block content
