:root{
  --siteContentPaddingX: 20px;
  --siteContentWidth: 1260px;
}

html{
  height: 100%;
}

body {
  /* padding: 50px; */
  height: 100%;
  margin: 0px;
  font-size: 18px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fbfbfb;
}

body *{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

/* Header */ 

.site-header{
  padding: 0px var(--siteContentPaddingX);
  background-color: #18223a;
}

.site-header__inner{
  margin: 0 auto;
  max-width: var(--siteContentWidth);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.site-header__inner > *{
  margin: 0px;
}

.site-logo{
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.site-logo a{
  color: #fff;
  text-decoration: none;
}

.site-nav > ul{
  display: flex;
  gap: 20px;
}

.site-nav ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.site-nav ul.sub-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #18223a;
}
  .site-nav ul.sub-menu li a{
    display: block;
    padding: 10px;
  }

.site-nav > ul > li > a,
.site-nav > ul > li > span{
  display: block;
  padding: 28px 10px;
}

.site-nav li.has-sub-menu{
  position: relative;
}
  .site-nav li.has-sub-menu > span{
    position: relative;
  }
  .site-nav li.has-sub-menu > span::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }
  .site-nav li.has-sub-menu:hover .sub-menu{
    display: block;
  }

.site-nav li:hover > a,
.site-nav li:hover > span {
  background-color: #020408;
}

.site-nav li,
.site-nav a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

/* Main */ 

.site-content{
  padding: 60px var(--siteContentPaddingX);
}

.site-content__inner{
  margin: 0 auto;
  max-width: var(--siteContentWidth);
}

/* Forms */ 

form label{
  display: block;
  margin: 0px 0px 5px;
}

form .input-contain{
  margin: 0pc 0pc 12px;
}

form input[type="text"],
form input[type="number"],
form select{
  height: 38px;
}

form textarea{
  height: 100px;
}

form input[type="text"],
form input[type="number"],
form select,
form textarea {
  border-radius: 6px;
  border: 2px solid #2d3850;
  background-color: #fff;
  font-size: 18px;
  max-width: 500px;
  width: 100%;
}

form input[type="submit"]{
  margin: 12px 0px 0px;
  padding: 8px 12px;
  border: initial;
  border-radius: 6px;
  background-color: #18223a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;}
  form input[type="submit"]:hover{
    background-color: #020408;
  }

/* Grids */ 

.item-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0px;
}

.grid-item{
  list-style-type: none;
} 
  .grid-item a{
    color: #000;
    text-decoration: underline;
  }
  .grid-item img {
    margin-bottom: 10px;
  }
  .grid-item p {
    margin: 0px;
    text-align: center;
  }

@media screen and (max-width: 768px) {
  .item-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 478px) {
  .item-grid{
    grid-template-columns: 1fr;
  }
}