header(class="site-header")
	div(class="site-header__inner")
		p(class="site-logo") Express Inventory 
		nav(class="site-nav")
			ul 
				li
					a(href="/") Home
				li(class="has-sub-menu") 
					span View 
					ul(class="sub-menu")
						li 
							a(href="/shoes") Shoes
						li 
							a(href="/brands") Brands
						li 
							a(href="/styles") Styles
				li(class="has-sub-menu") 
					span Create 
					ul(class="sub-menu")
						li 
							a(href="/shoes/create") Shoes
						li 
							a(href="/brands/create") Brands
						li 
							a(href="/styles/create") Styles
		