extends ../layout

block content
	h1= title
	if brands.length
		p Check out our wide array of running shoe brands 
		ul(class="item-grid")
			each brand in brands
				li(class="grid-item") 
					a(href=brand.url) 
						img(src="/images/prod-placeholder.jpg" alt=brand.name)
						p #{brand.name}
	else 
		p There are no brands in our inventory