extends ../layout

block content
	h1= title
	if brands.length
		p Check out our wide array of running shoe brands 
		ul 
			each brand in brands
				li 
					a(href=brand.url) #{brand.name}
	else 
		p There are no brands in our inventory